* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.1s ease-in;
}

body {
    background: #1a1a1a;
}

#board {
    background: #fbfbfb;
}
.colors {
    width: 300px;
    height: 52px;
    border: 2px solid #f1f1f1;
    background: #fff;
    border-radius: 33px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    margin-top: 8px;
    position: inherit;
}

.btn, img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border-width: 0px;
    cursor: pointer;
}


.btn:nth-child(1) {
    background-color: #111111;
}

.btn:nth-child(2) {
    background-color: #00aa00;
}

.btn:nth-child(3) {
    background-color: #d40000;
}

.btn:nth-child(4) {
    background-color: #109dec;
}

.btn:nth-child(5) {
    background-color: #f86409;
}

.btn:nth-child(6) {
    background-color: #fbfbfb;
}
